<div class="container">
  <a routerLink="/admin-post">Posts</a> - <a routerLink="/admin-map">Mapas</a> - <a routerLink="/gl-view">Entrar al juego</a>
  <div class="post-viewer-ui-message">
      <select id="map-select" [(ngModel)]="selectedMapKey"  (change)="onChangeMap($event.target.value)">
          <option *ngFor="let map of maps" value="{{map.key}}">{{map.name}}</option>
      </select>
      <br/>
      <button (click)="moveMap(3)">Oeste</button>
      <button (click)="moveMap(0)">Norte</button>
      <button (click)="moveMap(2)">Sur</button>
      <button (click)="moveMap(1)">Este</button> <br/>
     ----------------------------------<br/>
    <div *ngIf="selectedMap != null">
        Nombre de mapa: {{selectedMap.name}} ({{selectedMap.x}}, {{selectedMap.y}})<br/>
        Map key: <b>{{selectedMap.key}}</b><br/>
        Map width: {{selectedMap.width}}<br/>
        Map height: {{selectedMap.height}}<br/>
        ----------------------------------<br/>
        Puerta Norte <input [(ngModel)]="selectedMap.door_key_n" /><br/>
        Puerta Este <input [(ngModel)]="selectedMap.door_key_e" /><br/>
        Puerta Sur <input [(ngModel)]="selectedMap.door_key_s" /><br/>
        Puerta Oeste <input [(ngModel)]="selectedMap.door_key_w" /><br/>
        ----------------------------------<br/>
        <div *ngFor="let line of mapDataLines; index as y" class="ascii-art">
          <span *ngFor="let tile of line; index as x ">
            <app-tile-edit [tileValue] ="tile"
            [allTiles]="allTiles"
            [x]="x" [y]="y" (valueChange)="onChangeTileAt($event.x,$event.y)">
          </app-tile-edit>
          </span>
        </div>

       
        <select id="tile-select" [(ngModel)]="selectedTileVal"  (change)="onChangeTileBrush($event.target.value)">
            <option *ngFor="let tile of  allTiles" value="{{tile.value}}">{{tile.name}} {{tile.display}} ({{tile.value}})</option>
        </select>
        <button (click)="saveMap()">Guardar nuevo mapa</button>
    </div>

    <div *ngIf="selectedMap == null">
    No hay nada aquí ({{currentX}}, {{currentY}})
    </div>
  </div>
</div>