<div class="post-ui-message">

<div id="canvas-left">
<canvas #paintingCanvas id="painting-board"
    height="460px" width="460px"
    touch-action="none" tabindex="1" style="touch-action: none;">
    <!--(document:mousemove)="canvasMouseMove( $event )"-->
</canvas>
</div>

<div id="tool-right">
<button (click)="changeColor(colorRed)">Rojo</button>
<button (click)="changeColor(colorBlack)">Negro</button>
<button (click)="changeColor(colorWhite)">Blanco</button>
<button (click)="changeColor(colorPink)">Rosa</button><br/>
<button (click)="changeColor(colorGreen)">Verde</button>
<button (click)="changeColor(colorBrown)">Marrón</button>
<button (click)="changeColor(colorPurple)">Morado</button><br/>
<button (click)="changeColor(colorYellow)">Amarillo</button>
<button (click)="changeColor(colorBlue)">Azul</button><br/>
Escoge un color: <input type="color" [(ngModel)]="curColor"><br/>
<input type="range" name="points" min="5" max="100" [(ngModel)]="strokeSize">
<div id="brush-size"
    [style.width]="strokeSize+'px'"
    [style.height]="strokeSize+'px'"> </div>
<br/>
<button (click)="clear()">Ctrl + Z</button><br/>

<div *ngIf="reply >= 0" ><i>responder a >>{{ reply }}</i> <span (click)=" destroyReply()"> 🗑️</span></div>
Mensaje: <br/>
<textarea id="message-text" placeholder="Your text" [(ngModel)]="postModel.message" ></textarea><br/>
<button (click)="sendImg()" class="btn btn-primary">Pintar!</button>
<button (click)="closeCanvas()" class="btn btn-danger">Cerrar</button>

</div>

</div>