<div class="container">
  <a routerLink="/admin-post">Posts</a> - <a routerLink="/admin-map">Mapas</a> - <a routerLink="/ch/alpha">Entrar al juego</a>
<div class="post-viewer-ui-message">

  <input [(ngModel)]="valToDelete"> <button (click)="deleteVal()">Borrar</button>    ---------    <button type="button" class="btn btn-primary" (click)="updatePost()">Actualizar</button>
  <div *ngFor="let post of posts| paginate: { itemsPerPage: 20, currentPage: p }">
      N° {{post.id}} <span *ngIf="post.is_canon">👌</span><br/>
      Player: {{post.player_id}}<br/>
      IP: {{post.player_ip}}<br/>
      CHAN: <span class="badge badge-light">{{post.map_key}}</span><br/>

      <img src="{{post.url}}"/>
      Url: <a href="{{post.url}}">{{post.url}}</a><br/>
      Mensaje: {{post.message}}<br/>
      
       <div *ngIf="post.was_deleted"> 
      <div class="alert alert-danger" role="alert">
      El post ha sido borrado!
      </div>
      </div>

      <div *ngIf="!post.was_deleted">

        <button type="button" class="btn btn-success"  (click) = "canonPost(post.id,post.map_key)" >Activar o desactivar status canon 👌 (ni puta idea que hace xd)</button><br/>
        <button type="button" class="btn btn-warning" (click) = "deletePost(post)" >Borrar post 🗑️</button><br/>
        <button type="button" class="btn btn-danger" (click) = "setBan(post.id)" >Banear usuario 🔨</button><br/>
      </div>
      -----------------------------------------<br/>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
